<nav class="navbar" role="navigation">
  <!-- <div class="container-fluid"> -->

    <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
    <div class="navbar-header">
      <!-- ハンバーガーボタン -->
  <button type="button" class="drawer-toggle drawer-hamburger">
    <span class="sr-only">toggle navigation</span>
    <span class="drawer-hamburger-icon"></span>
  </button>

      <!-- タイトルなどのテキスト -->
      <span class="navbar-brand"><%= @chat_room.title %></span>
      <div class="navbar-login-right">
        <% if user_signed_in? %>
         <strong><%= current_user.email %></strong><br>
        <%= link_to 'Edit', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "LogOut", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </div>
  <!-- </div> -->
</nav>