
<!--
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"> -->
    <ul class="drawer-menu">
<li class="drawer-brand">
      <a href="#">
        Near By
      </a>
      </li>

<!--     <div id="chat-index"> -->

      <%= render @chat_rooms %>
    <!-- </div> -->
    <!--       new-chat-room -->
    <div class="lead">
      <%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary btn_size' %>

    </div>
  </ul>
<!--   </div> -->
  <!-- footer -->
  <div id="footer">

    <!-- <p class="text-muted">Created by Seiya</p> -->

  </div>
<!-- </div> -->

