  <div class="new_chatroom">

<h1> chat room</h1>

<%= form_for @chat_room do |f| %>
  <!-- <div class="form-group"> -->
    <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: :title, size:"20"%>
  <!-- </div> -->

  <%= f.submit "作成", class: 'btn btn-primary btn-width' %>
<% end %>

</div>


