




@import "bootstrap";
@import 'global';
#footer {
    position: fixed;
margin-left: 20px;
margin-right: auto;
    bottom: 0;

    
}

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}



#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -100px;
}



.lead{
    margin-top: 10px;
    margin-left: 15px;


}


@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*facebook*/

.FbBtn {
    background-color: #3b5998;
    height: 45px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
}
 
.FbBtn:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url(app/assets/images/FB-f-Logo__blue_114.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
 
.FbBtnLabel {
    color: #ffffff;
    position: relative;
    top: 13px;
    text-align: center;
    margin: 0 20px 0 20px;
}


